!.gitignore
.*
dbus/korva-dbus-interface.*
*.o
*.a
config.*
Makefile
Makefile.in
aclocal.m4
*~
build-aux
autom4te.cache
configure
INSTALL
stamp-h1
*.orig
*REMOTE*
*LOCAL*
valgrind.log.*
data/org.jensge.Korva.service
server/korva
client/korva-control
*.gc*
