Source: korva
Priority: optional
Section: user/other
Maintainer: Jens Georg <jensg@openismus.com>
Build-Depends: debhelper (>= 7.2.3), libffi-dev, libglib2.0-dev, libgupnp-1.0-dev
Standards-Version: 3.8.1

Package: korva-server
Architecture: any
Depends: ${shlibs:Depends}
Description: foo

Package: korva-client
Architecture: any
Depends: ${shlibs:Depends}
Description: foo


Package: korva-dbg
Architecture: any
Description: bar
